@use "@/z-index" as *;
@use "@/breakpoints" as *;

.tableHead {
  min-width: 80rem;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  font-weight: 400;
  background: var(--black-blue-gradient-to-bottom);
  color: var(--white-color);
  border-bottom: 0.1rem solid var(--dark-grey-color);
  z-index: $z-index-one;
}

.tableHeadHeading {
  padding: 0.3rem 0;
  flex: 1;
  display: inline-block;
  font-size: 1.4rem;
  text-align: center;
}

@media (min-width: $break-tablet) {
  .tableHeadHeading {
    padding: 1.4rem 0;
  }
}
