// regular
@font-face {
  font-family: "Inter";
  font-display: "swap";
  font-weight: 400;
  src: url("@/fonts/Inter-Regular.woff2") format("woff2");
}

// medium
@font-face {
  font-family: "Inter";
  font-display: "swap";
  font-weight: 500;
  src: url("@/fonts/Inter-Medium.woff2") format("woff2");
}

//bold
@font-face {
  font-family: "Inter";
  font-display: "swap";
  font-weight: 700;
  src: url("@/fonts/Inter-Bold.woff2") format("woff2");
}

//italic
@font-face {
  font-family: "Inter";
  font-display: "swap";
  font-weight: 400;
  font-style: italic;
  src: url("@/fonts/Inter-Italic.woff2") format("woff2");
}

:root {
  --font-inter: "Inter";
}
