@use "@/mixins" as *;

.inputPasswordWrapper {
  @include inputWrapperStyle;
}

.eyeIcon {
  position: absolute;
  top: 55%;
  left: 91%;
  font-size: 1.7rem;
  color: var(--white-color);
  cursor: pointer;
}
