.inputPassword {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.eyeIcon {
  position: absolute;
  top: 60%;
  left: 92%;
  font-size: 1.7rem;
  color: var(--white-color);
  cursor: pointer;
}
