@use "@/breakpoints" as *;

.homeTelevision {
  width: 100%;
  max-width: 30rem;
  margin: 7rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tv {
  width: 100%;
}

.support {
  display: none;
}

.tv {
  border: 0.3rem solid var(--white-color);
  display: flex;
  position: relative;
  overflow: hidden;
}

.screen {
  flex-basis: 70%;
  border-right: 0.3rem solid var(--white-color);
}

/*  
    carousel buttons are in carousel component.
    See comment in home-television.jsx 
*/
.carouselButtonsContainer {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* large mobile breakpoint */
@media (min-width: $break-large-mobile) {
  .homeTelevision {
    width: 41rem;
    max-width: none;
  }

  .tv {
    border: 0.455rem solid var(--white-color);
  }

  .screen {
    border-right: 0.455rem solid var(--white-color);
  }
}

/* tablet breakpoint */
@media (min-width: $break-tablet) {
  .homeTelevision {
    width: 42rem;
  }
}

/* large desktop breakpoint */
@media (min-width: $break-large-desktop) {
  .homeTelevision {
    width: 60rem;
    margin: -1rem 0 0 2rem;
    perspective: 150rem;
    transform-style: preserve-3d;
    position: relative;
  }

  .tv,
  .support {
    transform: rotateX(-10deg) rotateY(-25deg);
  }

  .support {
    width: 110%;
    height: 0.7rem;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 39.21rem;
  }

  .leg {
    width: 0.6rem;
    height: 6rem;
    position: relative;
  }

  .support,
  .leg {
    background-color: var(--white-color);
  }

  .legLeft {
    left: -10rem;
  }

  .legRight {
    height: 6.2rem;
    right: -10rem;
  }

  .tv {
    border: 0.6rem solid transparent;
    background-image: var(--tv-border-gradient);
  }

  .screen {
    padding: 0 0.5rem 0 0.2rem;
    border-right: 0.3rem solid transparent;
  }

  .carouselButtonsContainer {
    background-color: var(--bg-color);
    background-image: var(--bg-image);
  }
}
