@use "@/breakpoints" as *;

.homeTelevision {
  width: 100%;
  max-width: 30rem;
  margin: 7rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective: 150rem;
  transform-style: preserve-3d;
  position: relative;
}

.tv {
  width: 100%;
  border: 0.3rem solid transparent;
  background-image: var(--tv-border-gradient);
  display: flex;
  position: relative;
  overflow: hidden;
}

.screen {
  flex-basis: 70%;
  padding: 0 0.5rem 0 0.2rem;
  border-right: 0.3rem solid transparent;
}

.tv,
.support {
  transform: rotateX(-10deg) rotateY(-25deg);
}

.support {
  width: 110%;
  height: 0.5rem;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 98%;
}

.leg {
  width: 0.3rem;
  height: 6rem;
  position: relative;
}

.support,
.leg {
  background-color: var(--white-color);
}

.legLeft {
  left: -10rem;
}

.legRight {
  height: 6.2rem;
  right: -10rem;
}

/*  
    carousel buttons are in carousel component.
    See comment in home-television.jsx 
*/
.carouselButtonsContainer {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
}

/* large mobile breakpoint */
@media (min-width: $break-large-mobile) {
  .homeTelevision {
    width: 41rem;
    max-width: none;
    margin-top: 4rem;
  }

  .tv {
    border-width: 0.455rem;
  }

  .screen {
    border-right-width: 0.455rem;
  }
}

/* tablet breakpoint */
@media (min-width: $break-tablet) {
  .homeTelevision {
    width: 42rem;
    margin-top: 5rem;
  }
}

/* large desktop breakpoint */
@media (min-width: $break-large-desktop) {
  .homeTelevision {
    width: 60rem;
    margin: -1rem 0 0 2rem;
  }

  .support {
    height: 0.7rem;
  }

  .leg {
    width: 0.6rem;
  }

  .legLeft {
    left: -14rem;
  }

  .legRight {
    right: -14rem;
  }

  .tv {
    border-width: 0.6rem;
  }
}
