@use "@/breakpoints" as *;

.homeHeadingOne {
  width: fit-content;
  margin: 5rem auto;
  font-size: 3.5rem;
  text-align: center;
  position: relative;
  color: #f5f5f5;
}

.kLetter {
  padding: 0.2rem;
  margin-bottom: 1rem;
  font-weight: bolder;
  display: inline-block;
  font-size: 4.4rem;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(rgb(216, 9, 220), rgb(255, 30, 135)) text;
  rotate: 5deg;
  animation: scale 2s infinite;
}

.homeHeadingOneIcon {
  width: 3rem;
  height: 3rem;
  position: absolute;
  color: #f5f5f5;
}

.noodlesIcon {
  right: -1rem;
  top: -2rem;
  rotate: 10deg;
}

.knifeBloodIcon {
  left: -1rem;
  top: 5.1rem;
  rotate: -8deg;
}

@keyframes scale {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: scale(1.12);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: scale(1);
  }
}

// breakpoints
@media (min-width: $break-large-mobile) {
  .homeHeadingOne {
    font-size: 3.8rem;
  }
}

@media (min-width: $break-tablet) {
  .homeHeadingOne {
    font-size: 4.1rem;
  }
}

@media (min-width: $break-desktop) {
  .homeHeadingOne {
    font-size: 4.4rem;
  }

  .homeHeadingOneIcon {
    width: 3.3rem;
    height: 3.3rem;
  }

  .noodlesIcon {
    top: -2.5rem;
  }
}
