@use "@/breakpoints" as *;

.userProfileButtonLinkContainer {
  width: 90%;
  max-width: 70rem;
}

.buttonDelete,
.linkToUpdatePage {
  padding: 0.7rem 1.6rem;
  border-radius: 1rem;
}

.buttonDelete {
  margin-right: 1.7rem;
  font-size: 1.33rem;
  border: 0.1rem solid var(--red-color);
  color: var(--red-color);
  background: transparent;
  cursor: pointer;
}

.linkToUpdatePage {
  font-size: 1.3rem;
  background: var(--pink-blue-gradient);
  color: var(--white-color);
}

@media (min-width: $break-tablet) {
  .buttonDelete,
  .linkToUpdatePage {
    padding: 1rem 2rem;
  }

  .buttonDelete {
    margin-right: 2rem;
    font-size: 1.6rem;
  }

  .linkToUpdatePage {
    font-size: 1.5rem;
  }
}
