@use "@/breakpoints" as *;

.userProfileTable {
  width: 90%;
  max-width: 70rem;
  margin-bottom: 2rem;
  border-top: 0.1rem solid var(--grey-transparency);
  border-bottom: 0.1rem solid var(--grey-transparency);
}

.keysValuesContainer {
  display: flex;
  flex-direction: column;
}

.keyWithValue {
  display: flex;
  border-right: 0.1rem solid var(--grey-transparency);
  border-left: 0.1rem solid var(--grey-transparency);

  &:first-of-type,
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4) {
    border-bottom: 0.1rem solid var(--grey-transparency);
  }

  &:last-of-type {
    margin-top: 2rem;
    border-top: 0.1rem solid var(--grey-transparency);
  }
}

.key {
  padding: 1.4rem 2rem 1.4rem 1.7rem;
  flex-basis: 30%;
  font-size: 1.1rem;
  color: var(--white-color);
  background: var(--black-blue-gradient-to-bottom);
  border-right: 0.1rem solid var(--grey-transparency);
  text-transform: capitalize;
}

.value {
  padding: 1.4rem 0 1.4rem 2rem;
  flex: 1;
  font-size: 1.2rem;
  color: var(--grey-transparency);
}

.nameValue {
  text-transform: lowercase;

  &::first-letter {
    text-transform: capitalize;
  }
}

@media (min-width: $break-tablet) {
  .key {
    padding: 2.4rem 3rem 2.4rem 2rem;
    font-size: 1.4rem;
    flex-basis: 25%;
  }

  .value {
    padding: 2.4rem 0 2.4rem 3rem;
    font-size: 1.5rem;
  }
}
