@use "@/breakpoints" as *;

.baseTable {
  width: 94%;
  height: 36.555rem;
}

.tableShow {
  overflow-x: auto;
}

.tableHide {
  overflow-x: hidden;
}

.nothingIcon,
.notFoundIcon {
  width: 20rem;
  height: 20rem;
  display: block;
  color: var(--white-color);
}

.nothingContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nothingParagraph {
  font-size: 1.5rem;
  text-align: center;
  color: var(--pink-color);
}

@media (min-width: $break-tablet) {
  .nothingContainer {
    top: 65%;
  }

  .nothingIcon,
  .notFoundIcon {
    width: 28rem;
    height: 28rem;
  }

  .nothingParagraph {
    font-size: 1.8rem;
  }
}
