.baseTable {
  width: 90%;
  height: 43rem;
}

.tableShow {
  overflow-x: auto;
}

.tableHide {
  overflow-x: hidden;
}

.sadIcon,
.notFoundIcon {
  width: 30rem;
  height: 30rem;
  display: block;
  color: var(--white-color);
}

.nothingContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nothingParagraph {
  font-size: 1.8rem;
  text-align: center;
  color: var(--pink-color);
}
