.footer {
  width: 100%;
  max-width: 135rem;
  padding: 0.4rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
}

.githubLogo,
.infoIcon {
  width: 3.6rem;
  height: 3.6rem;
}

.githubLogo {
  color: var(--aqua-green-color);
}

.infoIcon {
  color: var(--red-color);
}

.githubLogo,
.infoIcon {
  &:hover {
    filter: brightness(150%);
  }
}
