@use "@/breakpoints" as *;

.formButton {
  width: 94%;
  margin: 2rem auto;
  padding: 0.8rem;
  padding: 1.3rem;
  font-size: 1.588rem;
  outline: none;
  border: none;
  background: var(--blue-color);
  transition: scale 0.2s linear;
  cursor: pointer;
}

@media (min-width: $break-tablet) {
  .formButton {
    padding: 1.4rem;
    font-size: 1.655rem;
  }
}
