// pink stars animation
@keyframes move-right-and-left {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: rotate(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: rotate(360deg);
  }
}

// k letters of home h1 animation
@keyframes scale {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: scale(1.12);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: scale(1);
  }
}

// loader animation
@keyframes spin {
  0%,
  50% {
    transform: scale(1) translateY(0);
  }

  25% {
    transform: scale(1.05) translateY(-0.1rem);
  }

  75% {
    transform: scale(1.05) translateY(0.1rem);
  }

  100% {
    transform: scale(1) translateY(0);
    rotate: 1turn;
  }
}

// modal open animation
@keyframes open-smoothly {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
