@use "@/breakpoints" as *;

.label {
  width: 94%;
  margin: 1rem auto 0.2rem auto;
  font-size: 1.355rem;
  color: var(--white-color);
  position: relative;
  text-transform: capitalize;
}

.labelAsterisk {
  color: var(--pink-color);
  margin-left: 0.255rem;
}

/*
if label password
*/
.passwordTooltipWrapper {
  position: relative;
  cursor: pointer;

  & svg {
    font-size: 1.3rem;
    color: var(--blue-color);
  }
}

.passwordTooltip {
  width: 18rem;
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
  line-height: 1.3rem;
  position: absolute;
  bottom: 1rem;
  left: 100%;
  display: none;
  color: var(--bg-color);
  background: var(--grey-color);
  text-transform: none;
}

.passwordTooltipWrapper:active .passwordTooltip,
.passwordTooltipWrapper:hover .passwordTooltip {
  display: block;
}
/*
*/

/*
if label is image
*/
.uploadedImg {
  object-fit: cover;
  width: 9rem;
  height: 6rem;
  position: absolute;
  top: 0.7rem;
  right: 0;
}
/*
*/

@media (min-width: $break-tablet) {
  .label {
    font-size: 1.455rem;
  }

  /*
 if label is image
*/
  .uploadedImg {
    top: 1rem;
  }
  /*
*/
}
