@use "@/breakpoints" as *;
@use "@/mixins" as *;

.modalDelete {
  @include coverViewport;
  animation: open-smoothly 0.055s ease;
}

.paragraphsButtonsContainer {
  padding: 3rem 0;
  width: 85%;
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  background-color: var(--white-transparency);
  animation: open-smoothly 0.1s ease;
}

.paragraph {
  padding: 0 2.5rem;
  margin: 0.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  text-align: center;
  color: var(--dark-grey-color);

  &:nth-child(1) {
    margin-top: 0;
  }

  &:nth-child(3) {
    color: var(--red-color);
    margin-bottom: 3rem;
  }
}

.nameOfItemToDelete {
  color: var(--red-color);
  font-weight: 500;
}

.isUserToDelete {
  text-transform: capitalize;
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.button {
  width: 10rem;
  padding: 0.7rem;
  font-size: 1.4rem;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.1s ease-out;
}

.buttonDeletion {
  background-color: var(--red-color);
  border: 0.1rem solid var(--dark-salmon-color);
  color: var(--white-color);
}

.buttonNotDeletion {
  background-color: var(--grey-color);
  border: 0.1rem solid var(--dark-grey-color);
  color: var(--bg-color);
}

@keyframes open-smoothly {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

// breakpoints
@media (min-width: $break-tablet) {
  .paragraph,
  .button {
    font-size: 1.55rem;
  }

  .paragraph {
    margin: 0.7rem;
  }

  .button {
    padding: 1rem;
  }
}
