@use "@/breakpoints" as *;

.userProfileButtonLinksContainer {
  width: 90%;
  max-width: 70rem;
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.buttonDelete,
.link {
  width: 12rem;
  padding: 0.7rem 1.6rem;
  font-size: 1.3rem;
  text-align: center;
  color: var(--white-color);
}

.linkToUpdatePage {
  background: var(--pink-blue-gradient);
}

.linkToDashboard {
  border: 0.1rem solid var(--white-color);
}

.buttonDelete {
  color: var(--red-color);
  border: 0.1rem solid var(--red-color);
  background: transparent;
  cursor: pointer;
}

@media (min-width: $break-tablet) {
  .userProfileButtonLinksContainer {
    position: relative;
  }

  .links {
    flex-direction: row;
  }

  .buttonDelete,
  .link {
    width: 13rem;
    padding: 1rem 2rem;
  }

  .buttonDelete {
    position: absolute;
    right: 0;
    font-size: 1.6rem;
  }

  .link {
    font-size: 1.5rem;
  }
}
