@use "@/mixins" as *;
@use "@/breakpoints" as *;

.inputFileWrapper {
  @include inputWrapperStyle;
}

.inputFile[type="file"],
.inputFile[type="file"]:focus {
  color: transparent;
  cursor: pointer;
  height: 7rem;

  &::-webkit-file-upload-button {
    opacity: 0;
    cursor: pointer;
  }

  &::before {
    content: url("/svg/form-img-icon.svg");
    display: inline-block;
    position: absolute;
    bottom: 28%;
    width: 3rem;
    cursor: pointer;
  }
}

.uploadedImg {
  object-fit: cover;
  width: 9rem;
  height: 6rem;
  position: absolute;
  top: 3.6rem;
  right: 1.6rem;
}

@media (min-width: $break-tablet) {
  .uploadedImg {
    top: 3.7rem;
  }
}
