@use "@/mixins" as *;

.inputFileWrapper {
  @include inputWrapperStyle;
}

.inputFile[type="file"] {
  color: transparent;
  cursor: pointer;

  &::-webkit-file-upload-button {
    opacity: 0;
    cursor: pointer;
  }

  &::before {
    content: url("/svg/form-img-icon.svg");
    display: inline-block;
    position: absolute;
    bottom: 20%;
    width: 3rem;
    cursor: pointer;
  }
}
