@use "@/breakpoints" as *;
@use "@/mixins" as *;
@use "@/keyframes" as *;

.loader {
  @include coverViewport;
  transition: all 0.2s linear;
}

.spinner {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.175rem solid var(--aqua-green-color);
  border-right-color: var(--grey-color);
  animation: spin 0.7s infinite linear;
}

// breakpoints
@media (min-width: $break-tablet) {
  .spinner {
    width: 6rem;
    height: 6rem;
  }
}
